<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<body>
    <div id="app">
        <div class="container">
            <form v-if='!submitted' class="mt-5">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type='email' v-model='email' class='form-control form-control-lg'>
                </div>
                <button type='submit' @click.prevent="process" class='bnt btn-primary'>Submit</button>
            </form>
        </div>
    </div>
</body>

</html>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            email: 'yikang@example.com',
            submitted: false
        },
        methods: {
            process: function() {
                this.submitted = true;
            }
        }
    });
</script>