<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<body>
    <div id="app">
        <div class='container'>
            <form class="mt-5">
                <h2>Pose Estimation</h2>
                <div class='m-3' v-cloak v-if='numUploadedFiles'>
                    <p>(Showing {{numUploadedFiles}} items)</p>
                </div>
                <table class='table'>
                    <thead class='thead-light'>
                        <th>#</th>
                        <th>Uploaded Videos</th>
                        <th>Processed Videos</th>
                        <th>Download</th>
                    </thead>
                    <tbody>
                        <tr v-for='(status, index) in filesStatus'>
                            <td>{{index + 1}}</td>
                            <td>{{status.target_file}}</td>
                            <td>{{status.processed_file}}</td>
                            <td>
                                <div v-if='status.downloadable'>
                                    <button @click.prevent='downloadProcessedFile(index)' class='btn btn-warning'>Download</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div class="container">
            <label>
                <input type="file" id="file" ref="file" @change="handleVideoSelection()"/>
            </label>
            <form>
                <button type='button' @click.prevent="uploadVideo" class='bnt btn-primary'>Upload</button>
                <h5 class="mt-2">{{status_message}}</h5>
            </form>
        </div>
    </div>
</body>

</html>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            email: 'yikang@example.com ',
            status_message: '',
            upload_candidate_file: '',
            filesStatus: []
        },
        computed: {
            numUploadedFiles: function() {
                return this.filesStatus.length;
            }
        },
        created: function() {
            this.getFilesStatus();
        },
        methods: {
            handleVideoSelection: function() {
                this.status_message = '';
                this.upload_candidate_file = this.$refs.file.files[0];
            },
            uploadVideo: function() {
                let formData = new FormData();
                formData.append('file', this.upload_candidate_file);

                axios.post('http://localhost:5000/uploadvideo',
                        formData, {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        }
                    ).then(function() {
                        vm.status_message = 'Video file has been uploaded successfully!';
                        console.log(vm.status_message);
                    })
                    .catch(function() {
                        vm.status_message = 'Encounter error when upload video file!';
                        console.log(vm.status_message);
                    });
            },
            getFilesStatus: function() {
                axios.get('http://localhost:5000/server_files_status')
                    .then(function(res) {
                        vm.filesStatus = res.data;
                        for (index in vm.filesStatus) {
                            vm.filesStatus[index].downloadable = vm.filesStatus[index].processed_file != null
                        }
                    });
            },
            downloadProcessedFile: function(index) {
                if (this.filesStatus[index].downloadable) {
                    var processedFile = this.filesStatus[index].processed_file;
                    var url = 'http://localhost:5000/downloadvideo/' + processedFile;
                    window.open(url)
                }
            }
        }
    });
</script>