<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<body>
    <div id="app">
        <div class='container'>
            <form class="mt-5">
                <table class='table'>
                    <h2>Videos</h2>
                    <thead class='thead-light'>
                        <th>#</th>
                        <th>Uploaded Videos</th>
                        <th>Processed Videos</th>
                        <th>Download</th>
                    </thead>
                    <tbody>
                        <tr v-for='(status, index) in processStatus'>
                            <td>{{index + 1}}</td>
                            <td>{{status.target_file}}</td>
                            <td>{{status.processed_file}}</td>
                            <td>
                                <div v-if='status.downloadable'>
                                    <button @click.prevent='downloadProcessedFile(index)' class='btn btn-warning'>Download</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div class="container">
            <form v-if='!uploaded' class="mt-5">
                <!-- <div class="form-group">
                    <label for="email">Email</label>
                    <input type='email' v-model='email' class='form-control form-control-lg'>
                </div> -->
                <input type="file" id="upload_file_name">
                <p></p>
                <button type='button' @click.prevent="uploadNewVideos" class='bnt btn-primary'>Upload New Videos</button>
            </form>
            <h2 v-else class='mt-5'>Thank you for uploading!</h2>
        </div>
    </div>
</body>

</html>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            email: 'yikang@example.com ',
            uploaded: false,
            processStatus: []
        },
        created: function() {
            this.getProcessStatus();
        },
        methods: {
            uploadNewVideos: function() {
                this.uploaded = true;
            },
            getProcessStatus: function() {
                var url = 'http://localhost:5000/server_filepairs';
                axios.get(url)
                    .then(function(res) {
                        vm.processStatus = res.data;
                        for (index in vm.processStatus) {
                            vm.processStatus[index].downloadable = vm.processStatus[index].processed_file != null
                        }
                    });
            },
            downloadProcessedFile: function(index) {
                if (vm.processStatus[index].downloadable) {
                    var processedFile = vm.processStatus[index].processed_file;
                    var url = 'http://localhost:5000/downloadvideo/' + processedFile;
                    window.open(url)
                }
            }
        }
    });
</script>